@import './common/base.css';
@import 'cropper/dist/cropper.css';
@import 'prismjs/themes/prism.css';


body {
  font-size: 16px;
  padding: 3em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  background: #f0f0f0;
}
