<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Oceanify Example</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
  <h1>Oceanify Example</h1>
  <h2>Usage</h2>
  <p>In <code>app.js</code></p>
  <pre><code id="example-node" class="language-js"></code></pre>
  <p>In views</p>
  <pre><code id="example-browser" class="language-html"></code></pre>
  <script src="/loader.js"></script>
  <script>oceanify.import('home')</script>
</body>
</html>
