{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "script",
    "requireConfigFile": false
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "curly": [2, "multi-line"],
    "consistent-return": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "semi": [2, "always"],
    "strict": [2, "global"],
    "no-const-assign": 2,
    "no-else-return": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-restricted-globals": [2, "root"],
    "no-shadow": 2
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
