<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Oceanify Example</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
  <h1>Oceanify Example</h1>
  <h2>Usage</h2>
  <p>In <code>app.js</code></p>
  <pre>
    <code>
    var oceanify = require('oceanify')
    app.use(oceanify({ base: 'components' }))
    </code>
  </pre>
  <p>In views</p>
  <pre>
    <code>
    &lt;script src="main.js"&gt;&lt;/script&gt;
    </code>
  </pre>
  <script src="/main.js?main"></script>
</body>
</html>
