<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Oceanify Example</title>
  <style type="text/css">
  body {
    margin: 0;
    padding: 50px;
    background: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  pre, code {
    font-size: 0.9em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  h1, h2, h3, h4 {
    font-weight: 400;
    color: #505050;
  }
  </style>
</head>
<body>
  <h1>Oceanify Example</h1>
  <h2>Usage</h2>
  <p>In <code>app.js</code></p>
  <pre>
    <code>
    var oceanify = require('oceanify')
    app.use(oceanify({ base: 'components' }))
    </code>
  </pre>
  <p>In views</p>
  <pre>
    <code>
    &lt;script src="main.js"&gt;&lt;/script&gt;
    </code>
  </pre>
  <script src="/main.js"></script>
</body>
</html>
